ul {
    margin:0 px;
    list-style-type: none;
}
.container{
    background-color:#ebf0f2;
    height: 100vh;
}
.active{
    background-color: green;
}

span::before {content: '\A'; white-space: pre;}