.content {
    border: #8e9394;
    width: 50vh;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    display: flex;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
  }
  
  .header{
    font-size: large;
  }
  .content .btn-holder {
    justify-content: flex-end;
    display: flex;
  }
